<div class="panel-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert" [ngStyle]="{'display': display}">
        {{error?.title}}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('username').touched && myForm.get('username').hasError('required')">
          Username field is required
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('password').touched && myForm.get('password').hasError('required')">
            Password field is required
            </div>
      <form id="login-form" [formGroup]="myForm" (ngSubmit)="onSubmit()" role="form" style="display: block;">
        <div class="form-group">
          <input type="text" formControlName="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" [disabled]="!myForm.valid">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
